.sidebar{
    width: 50px;
    height: 600px;
    padding: 0.4rem;
    align-items: center;
    top: 400px;
    float: left;
    margin: 0;
}
.sidebar img{
    position: relative;
    width: 25px;
    padding-top: 2.5rem;
    margin: 10px;
    top: 160px;
    
}
.sidebar .fav{
    text-decoration: none;
    color: rgb(58, 57, 57);
    font-size: 30px;
    width: 25px;
    padding-top: 2rem;
    margin: 10px;
    position: absolute;
    top: 150px;
}