.staticwhole{
    display: flex;
    width: 100%;
}
.staticpage{
    width: 100%;
}
.staticpage .bg{
    width: 100%;
    margin: 0;
}
.staticpage .over{
    position: absolute;
    top: 20%;
    left: 7%;
}
.staticpage .buttonlist{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    width: 35%;
}
.staticpage .title{
    width: 45%;
}
.button{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin-right: 1rem;


}
.play{
    background-color: rgb(136, 215, 244);
    color: rgb(1, 8, 28);
}
.plus{
    border-radius: 50%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 7px;
    padding-left: 7px;
    font-size: 25px;
}
.up{
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.staticpage .down{
    width: 55%;
    font-size: 16px;
}
